*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main-container{
    border: 1px solid black;
    padding: 16px;

    display: flex;
    flex-direction: row-reverse;
}

.header{
    text-align: center;
    padding: 16px;
    font-size: 32px;
}

.container{
    margin-left: auto;
    border: 16px solid rgb(192, 25, 25);
    height: 500px;
    width: 500px;

    display: flex;
    flex-direction: row;

}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.column {
    background-color: rgb(189, 189, 189);
    border: 1px solid black;
    flex: 1; 
    
}

.btn-container{
    border: 1px solid black;
    width: 200px;
    height: 400px;
    padding: 8px;
    
}

.btn-container .input-size {
    padding: 8px;
}

.btn-container .change-size {
    padding: 8px;
}

.btn-container .clr-btn {
    padding: 8px;
}

.btn-container .reset-btn {
    padding: 8px;
}