*{

}
.main-container{
    border: 1px solid black;
    padding: 16px;
}

.main-container h1{
    text-align: center;
}

.container{
    margin: 0 auto;
    border: 16px solid rgb(192, 25, 25);
    height: 600px;
    width: 600px;

    display: flex;
    align-content: flex-start;

}
.div-col{
    background-color: rgb(185, 183, 183);
    width: 32px;
    height: 32px;
    border: 0.1px solid black;

    /* Flexbox  */
    flex: 1;
}
.div-col:hover{
    background-color: gray;
}