*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.main-container{
    border: 1px solid black;
    padding: 16px;
}

.main-container h1{
    text-align: center;
}

.container{
    margin: 0 auto;
    border: 16px solid rgb(192, 25, 25);
    height: 600px;
    width: 605px;

    display: flex;
    flex-direction: row;

}

.row {
    display: flex;
    flex-direction: column;
    flex: 1;

}

.column {
    background-color: rgb(189, 189, 189);
    border: 1px solid black;
    flex: 1; 
    
}

.column:hover {
    background-color: gray;
}
